<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Concrete Compressive Strength Predictor</title>
</head>
<body>
    <h1>Concrete Compressive Strength Predictor</h1>
    <form action="{{ url_for('predict') }}" method="post">
        <div>
            <label for="age">Age (in days):</label>
            <input type="number" id="age" name="age" placeholder="Age of the concrete" required="required" />
        </div>
        <div>
            <label for="cement">Cement (in kg):</label>
            <input type="number" step="0.01" id="cement" name="cement" placeholder="quantity" required="required" />
        </div>
        <div>
            <label for="water">Water (in kg):</label>
            <input type="number" step="0.01" id="water" name="water" placeholder="quantity" required="required" />
        </div>
        <div>
            <label for="fly_ash">Fly ash (in kg):</label>
            <input type="number" step="0.01" id="fly_ash" name="fa" placeholder="quantity" required="required" />
        </div>
        <div>
            <label for="superplasticizer">Superplasticizer (in kg):</label>
            <input type="number" step="0.01" id="superplasticizer" name="sp" placeholder="quantity" required="required" />
        </div>
        <div>
            <label for="blast_furnace_slag">Blast furnace slag (in kg):</label>
            <input type="number" step="0.01" id="blast_furnace_slag" name="bfs" placeholder="quantity" required="required" />
        </div>
        <div>
            <button type="submit">Predict</button>
        </div>
        <div>
            {{ prediction_text }}
        </div>
    </form>
</body>
</html>
